body {
  text-align: center;
  background-color: #1C6758;
}

#level-title, .h1-start {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 1%;
  margin-bottom: 5%;
  color: #D6CDA4;
}

.h1-start {
  margin-top: 15%;
  margin-bottom: 5%;
}

#btn-text {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  color: #D6CDA4;
  cursor: pointer;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn, .btn-start {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn-start {
  margin: 0;
  height: 100px;
  width: 350px;
  border-radius: 20px;
  background-color: black;
  color: #D6CDA4;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px #D6CDA4;
  background-color: #1C6758;
  border: 10px solid #D6CDA4;
}

.hidden {
  display: none;
}